${set('moduleAbout','<a href="//github.com/zazuko/zack-search" target="_blank">Zack Search</a>')}
<!DOCTYPE html>
<html>
 <head>

${include('cwd:views/header.html')}
   <link rel="stylesheet" href="/search/zack.css">
 </head>
 <body>
 <div class="container container-main">

${include('cwd:views/navigation.html')}

  <div class="container-fluid">
   <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="row">
     <h1>Search Municipalities</h1>
    </div>
   </div>
   <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="row">
     <div class="zack-query-box">
       <form class="zack-query-form form-horizontal form-search" action="javascript:document.getElementById('query').blur();">
           <h2 class="sr-only">Searchterm</h2>
           <label for="query" class="sr-only">Searchterm</label>
           <input autofocus id="query" class="zack-query-input zack-big form-control search-field" type="text" placeholder="Searchterm">
           <button class="icon icon--search icon--before"></button>
       </form>
      </div>
     </div>
    </div>
    <div class="col-sm-12 col-md-12">
     <div class="row">
      <div id="filter-container" class="zack-filter">
      </div>
     </div>
     <div class="row">
      <div class="zack-content">
       <div class="zack-result-list">
        <div id="scrollArea" class="clusterize-scroll">
         <div id="contentArea" class="clusterize-content">
          <div class="clusterize-no-data">Loading data…</div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="row">
      <div class="zack-overview">
       <div class="col-sm-3">
        <span id="count" class="zack-count zack-big"></span> <i>Results</i>
       </div>
      </div>
     </div>
    </div>

${include('cwd:views/footer.html')}

 </div>

<script src="/js/vendors.min.js"></script>
<script src="/js/main.min.js"></script>
<script src="/zack-search/zack.js"></script>

<script>

var municipalitiesRenderer = {}

municipalitiesRenderer.init = function (metadata) {
}

municipalitiesRenderer.renderResult = function (page, subject) {
  var rendering = ''

  var link = subject.value
  var titleString = subject.value
  var titlePrefix = ''
  if (page.match(subject, 'http://www.w3.org/1999/02/22-rdf-syntax-ns#type', 'https://gont.ch/PoliticalMunicipality').toArray().shift()) { titlePrefix = "Municipality" }

  var bfsNumber = page.match(subject, 'http://purl.org/dc/terms/identifier').toArray().shift()
  if (bfsNumber) {var bfsNumberString = bfsNumber.object.value}

  var versions = page.match(subject, 'https://gont.ch/municipalityVersion').toArray()
  var versionsSpan = ''
  if (versions) {
      versions.forEach(function(ver, ind) {
          versionsSpan = versionsSpan + '<span>' + (ind ? ', ' : '') + '<a href="' + ver.object.value + '">' + ver.object.value.split("/")[4] + '</span>'
          var munName = page.match(ver.object.value, 'https://gont.ch/shortName').toArray().shift()
          if (munName) { titleString = munName.object.value }
      })
  }

  rendering = '<div class="zack-result"><div class="result-main col-md-6 col-sm-6 col-xs-6"><article class="search-result">' +
              '<a href="' + link + '"><span>' + titlePrefix + '</span>' +
              '<h4>' + titleString + '</h4></a>' +
              '</div>' +
              '<div class="result-detail col-md-3 hidden-sm hidden-xs">' +
              '<span>BFS #' + bfsNumberString + '</span>' +
              '</div>' +
              '<div class="result-detail col-md-3 col-sm-6 col-xs-6">' +
              'Versions: ' + versionsSpan + '' +
              '</div>' +

              '</article></div>'

  return rendering
}

municipalitiesRenderer.postRender = function () {
}


  var options = {
    endpointUrl: '/query',
    filterContainer: 'filter-container',
    resultTypes: ['https://gont.ch/Municipality'],
    resultList: {
      renderer: municipalitiesRenderer,
      pageSize: 20,
      preload: 80
    },
    queries: {
      adminMeta: 'PREFIX : <http://voc.zazuko.com/zack#> PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX  text: <http://jena.apache.org/text#> PREFIX  rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX  skos: <http://www.w3.org/2004/02/skos/core#> PREFIX  xsd: <http://www.w3.org/2001/XMLSchema#> CONSTRUCT { _:b0 :numberOfResults ?count.  _:b0 :queryStart "0".  _:b0 :queryEnd "0".  } WHERE { { SELECT (COUNT(?sub) as ?count) { \${textmatch} \${filters} } } }',
      adminFulltextPart: '?sub <https://gont.ch/municipalityVersion> ?subver. ?subver <https://gont.ch/shortName> ?name. FILTER( CONTAINS(LCASE(?name), LCASE("\${searchString}")))',
      adminResultSet: 'PREFIX : <http://voc.zazuko.com/zack#> PREFIX  rdfs: <http://www.w3.org/2000/01/rdf-schema#> PREFIX  text: <http://jena.apache.org/text#> PREFIX  rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#> PREFIX  skos: <http://www.w3.org/2004/02/skos/core#> PREFIX  xsd: <http://www.w3.org/2001/XMLSchema#> CONSTRUCT { :query :result ?sub .  ?sub a :resultItem .  ?sub ?pred ?obj .  ?sub <https://gont.ch/municipalityVersion> ?ver. ?ver <https://gont.ch/shortName> ?muniname.  ?sub :score ?score .  } WHERE { { SELECT  ?sub ?score WHERE { \${textmatch} \${filters} } OFFSET \${offset} LIMIT \${limit} } GRAPH ?g { ?sub ?pred ?obj . ?sub <https://gont.ch/municipalityVersion> ?ver. ?ver <https://gont.ch/shortName> ?muniname. } }'
    },
    endpoints: {
      '/query': {
        queries: {
          search: 'adminResultSet',
          count: 'adminMeta',
          textmatch: 'adminFulltextPart'
        }
      }
    },
    plugins: []
  }

  window.app = new Zack(options)

  window.app.init().catch(function (err) {
    console.error(err)
  })

</script>
${include('cwd:views/powered.html')}
</body>
</html>
