${set('moduleFoot',`
<p>
<ul>
  <li><a href="https://cytoscape.org/">Cytoscape</a></li>
  <li><a href="https://dash.plotly.com/">Dash</li>
</ul>
</p>
`)}
<!DOCTYPE html>
<html>

<head>

  ${include('cwd:views/header.html')}

  <style>
    .node rect {
      cursor: move;
      fill-opacity: .9;
      shape-rendering: crispEdges;
    }

    .node text {
      pointer-events: none;
      text-shadow: 0 1px 0 #fff;
    }

    .link {
      fill: none;
      stroke: #000;
      stroke-opacity: .2;
    }

    .link:hover {
      stroke-opacity: .5;
    }
  </style>
</head>

<body>
  <div class="container container-main">

    ${include('cwd:views/navigation.html')}

    <div class="container-fluid">
      <div class="col-sm-12">
        <div class="row">
          <h1>Municipality Change Events</h1>
          <h3>All events since 1960</h3>
          <iframe id="result" src="https://munievents.zazukoians.org/" title="municipality-events"></iframe>

        </div>
      </div>
    </div>

    ${include('cwd:views/footer.html')}
  </div>

  <script src="/js/vendors.min.js"></script>
  <script src="/js/main.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script src="/visualizations/municipality-events/sankey.js"></script>
  <script src="/visualizations/municipality-events/d3sparql.js"></script>

  <script>
    function render(json) {
      var config = {
        // for d3sparql.graph()
        "key1": "parent",
        "key2": "child",
        "label1": "parent_name",
        "label2": "child_name",
        // for d3sparql.sankey()
        "width": document.getElementsByClassName('container')[0].offsetWidth - 50,
        "height": 35000,
        "selector": "#result"
      }
      d3sparql.sankey(json, config)
    }

    window.onload = function () {
      var endpoint = d3.select("#endpoint").property("value")
      var sparql = d3.select("#sparql").property("value")
      d3sparql.query(endpoint, sparql, render)
    }
  </script>

  ${include('cwd:views/powered.html')}
</body>

</html>